<div class="container mt-10">
  <!--  On exporte la valeur de NGFORM:  #formData="ngForm" -->
  <form
    action=""
    method="POST"
    (ngSubmit)="saveFormData(formData)"
    #formData="ngForm"
    class="flex flex-col px-8 pt-6 pb-8 my-2 mb-4 bg-white rounded shadow-md"
  >
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-first-name"
        >
          First Name
        </label>
        <input
          class="block w-full px-4 py-3 mb-3 transition-all duration-300 border rounded outline-none appearance-none ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 : bg-grey-lighter text-grey-darker border-red"
          id="grid-first-name"
          type="text"
          name="firstName"
          placeholder="Jane"
          [(ngModel)]="userForm.firstName"
          #firstNameVar="ngModel"
          required
        />
        <p class="text-xs italic text-red">Please fill out this field.</p>
      </div>
      <div class="px-3 md:w-1/2">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-last-name"
        >
          Last Name
        </label>
        <input
          class="block w-full px-4 py-3 transition-all duration-300 border rounded outline-none appearance-none ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 : bg-grey-lighter text-grey-darker border-grey-lighter"
          id="grid-last-name"
          name="lastName"
          type="text"
          placeholder="Doe"
          [(ngModel)]="userForm.lastName"
          #lastNameVar="ngModel"
          required
        />
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 md:w-full">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-email"
        >
          Email
        </label>
        <input
          class="block w-full px-4 py-3 mb-3 transition-all duration-300 border rounded outline-none appearance-none ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 : bg-grey-lighter text-grey-darker border-grey-lighter"
          id="grid-email"
          type="email"
          name="password"
          placeholder="example@gmail.com"
          required
          minlength="4"
          [(ngModel)]="userForm.email"
          #emailVar="ngModel"
          autocomplete="true"
        />
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 md:w-full">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-password"
        >
          Password
        </label>
        <input
          class="block w-full px-4 py-3 mb-3 transition-all duration-300 border rounded outline-none appearance-none ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 : bg-grey-lighter text-grey-darker border-grey-lighter"
          id="grid-password"
          type="password"
          name="password"
          placeholder="******************"
          required
          minlength="4"
          autocomplete="true"
          [(ngModel)]="userForm.password"
          #passwordVar="ngModel"
        />
        <p class="text-xs italic text-grey-dark">
          Make it as long and as crazy as you'd like
        </p>
      </div>
    </div>
    <div class="mb-2 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-city"
        >
          City
        </label>
        <input
          class="block w-full px-4 py-3 transition-all duration-300 border rounded outline-none appearance-none ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 : bg-grey-lighter text-grey-darker border-grey-lighter"
          id="grid-city"
          type="text"
          name="city"
          placeholder="Goma"
          [(ngModel)]="userForm.city"
          #cityVar="ngModel"
          required
        />
      </div>
      <div class="px-3 md:w-1/2">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-state"
        >
          Province
        </label>
        <div class="relative flex items-center">
          <select
            class="block w-full px-4 py-3 pr-8 ml-2 border rounded appearance-none bg-grey-lighter border-grey-lighter text-grey-darker"
            id="grid-state"
            name="province"
            [(ngModel)]="userForm.province"
            #provinceVar="ngModel"
            required
          >
            <option value="" selected="true">Select your province</option>
            <option value="nord-kivu">Nord-kivu</option>
            <option value="sud-kivu">Sud-kivu</option>
            <option value="maniema">Maniema</option>
          </select>
          <div
            class="absolute flex items-center px-2 pointer-events-none pin-y pin-r text-grey-darker"
          >
            <svg
              class="w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="px-3 md:w-1/2">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-zip"
        >
          Zip Code
        </label>
        <input
          class="block w-full px-4 py-3 transition-all duration-300 border rounded outline-none appearance-none ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 : bg-grey-lighter text-grey-darker border-grey-lighter"
          id="grid-zip"
          type="text"
          name="zipCode"
          placeholder="90210"
          required
          minlength="5"
          [(ngModel)]="userForm.zipCode"
          #zipCodeVar="ngModel"
        />
      </div>
    </div>
    <button
      type="submit"
      class="px-10 py-2 text-base text-white bg-blue-600 rounded hover:bg-blue-700 ring focus:ring-offset-1 active:ring-blue-300 active:ring-offset-1 max-w-max disabled:opacity-70 disabled:cursor-not-allowed"
      [disabled]="formData.invalid"
    >
      Valider
    </button>
  </form>
</div>
