<div class="container mt-10">
  <!--  On exporte la valeur de NGFORM:  #registerForm="ngForm" -->
  <form
    action=""
    method="POST"
    (ngSubmit)="saveregisterForm()"
    [formGroup]="registerForm"
    class="flex flex-col px-8 pt-6 pb-8 my-2 mb-4 bg-white rounded shadow-md"
  >
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-first-name"
        >
          First Name
        </label>
        <input
          class="w-full input input-bordered"
          id="grid-first-name"
          type="text"
          placeholder="Jane"
          formControlName="firstName"
          [ngClass]="{
            invalid:
              registerForm.get('firstName')?.touched &&
              !registerForm.get('firstName')?.valid
          }"
        />
        <div
          *ngIf="
            registerForm.get('firstName')?.errors &&
            registerForm.get('firstName')?.touched &&
            registerForm.get('firstName')?.invalid
          "
          class="text-invalid"
        >
          <p *ngIf="registerForm.get('firstName')?.errors?.['required']">
            <span class="font-medium">Oops!</span> Firstname is required
          </p>
          <p *ngIf="registerForm.get('firstName')?.errors?.['minlength']">
            <span class="font-medium">Oops!</span> The first name must be at
            least 4 characters long.
          </p>
        </div>
      </div>
      <div class="px-3 md:w-1/2">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-last-name"
        >
          Last Name
        </label>
        <input
          class="w-full input input-bordered"
          id="grid-last-name"
          type="text"
          placeholder="Doe"
          [ngClass]="{
            invalid:
              registerForm.get('lastName')?.touched &&
              registerForm.get('lastName')?.invalid
          }"
          formControlName="lastName"
        />

        <div
          *ngIf="
            registerForm.get('lastName')?.errors &&
            registerForm.get('lastName')?.touched &&
            registerForm.get('lastName')?.invalid
          "
          class="text-invalid"
        >
          <p *ngIf="registerForm.get('lastName')?.errors?.['required']">
            <span class="font-medium">Oops!</span> lastName is required
          </p>
          <p *ngIf="registerForm.get('lastName')?.errors?.['minlength']">
            <span class="font-medium">Oops!</span> lastName must be at least 2
            characters long
          </p>
        </div>
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 md:w-full">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-email"
        >
          Email
        </label>
        <input
          class="w-full input input-bordered"
          id="grid-email"
          type="email"
          placeholder="example@gmail.com"
          [ngClass]="{
            invalid:
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.invalid
          }"
          autocomplete="true"
          formControlName="email"
        />
        <div
          *ngIf="
            registerForm.get('email')?.errors &&
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="text-invalid"
        >
          <p *ngIf="registerForm.get('email')?.errors?.['required']">
            <span class="font-medium">Oops!</span> Email is required
          </p>
          <p *ngIf="registerForm.get('email')?.errors?.['email']">
            <span class="font-medium">Oops!</span> Email is invalid
          </p>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <label
        for="guest"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        Phone number
      </label>
      <input
        type="tel"
        formControlName="phoneNumber"
        id="phoneNumber"
        placeholder="0991487950"
        class="w-full input input-bordered"
        [ngClass]="{
          invalid:
            registerForm.get('phoneNumber')?.touched &&
            registerForm.get('phoneNumber')?.invalid
        }"
      />
      <div
        *ngIf="
          registerForm.get('phoneNumber')?.errors &&
          registerForm.get('phoneNumber')?.touched &&
          registerForm.get('phoneNumber')?.invalid
        "
      >
        <div class="text-invalid">
          <p *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
            The phone number is required
          </p>
        </div>
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 md:w-full">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-password"
        >
          Password
        </label>
        <input
          class="w-full input input-bordered"
          id="grid-password"
          type="password"
          placeholder="******************"
          autocomplete="true"
          [ngClass]="{
            invalid:
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
          }"
          formControlName="password"
        />

        <div
          *ngIf="
            registerForm.get('password')?.errors &&
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="text-invalid"
        >
          <p *ngIf="registerForm.get('password')?.errors?.['required']">
            <span class="font-medium">Oops!</span> Password is required
          </p>
          <p *ngIf="registerForm.get('password')?.errors?.['minlength']">
            <span class="font-medium">Oops!</span> password must be at least 4
            characters long
          </p>
        </div>
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 md:w-full">
        <label
          class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          for="grid-rating"
        >
          Note
        </label>
        <input
          class="w-full input input-bordered"
          id="grid-rating"
          type="number"
          placeholder="Entrer une note entre 1 à 5"
          [ngClass]="{
            invalid:
              registerForm.get('rating')?.touched &&
              registerForm.get('rating')?.invalid
          }"
          formControlName="rating"
        />

        <div
          *ngIf="
            registerForm.get('rating')?.errors &&
            registerForm.get('rating')?.invalid &&
            registerForm.get('rating')?.touched
          "
          class="text-invalid"
        >
          <!-- <p *ngIf="registerForm.get('rating')?.errors?.['required']">
            <span class="font-medium">Oops!</span> Password is required
          </p> -->
        </div>
      </div>
    </div>
    <div class="mb-5">
      <label class="mb-3 block text-base font-medium text-[#07074D]">
        Recevoir les notifications
      </label>
      <div class="flex items-center space-x-6">
        <div class="flex items-center">
          <input
            type="radio"
            id="emailNotif"
            class="w-5 h-5"
            formControlName="notification"
            value="email"
            (click)="setNotificationSetting('email')"
            checked
          />
          <label
            for="emailNotif"
            class="pl-3 text-base font-medium text-[#07074D]"
          >
            Par email
          </label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            formControlName="notification"
            id="phoneNotif"
            class="w-5 h-5"
            value="phone"
            (click)="setNotificationSetting('phone')"
          />
          <label
            for="phoneNotif"
            class="pl-3 text-base font-medium text-[#07074D]"
          >
            Par telephone
          </label>
        </div>
      </div>
    </div>
    <div class="flex items-center mb-4">
      <input
        id="checkbox-1"
        aria-describedby="checkbox-1"
        type="checkbox"
        formControlName="sendCatalog"
        [checked]="registerForm.get('sendCatalog')"
        class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
      />
      <label for="checkbox-1" class="ml-3 text-sm font-medium text-gray-900"
        >Oui je souhaite recevoir de la publicité</label
      >
    </div>
    <div *ngIf="registerForm.get('sendCatalog')?.value">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="address1"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Address 1
            </label>
            <input
              type="text"
              name="address1"
              id="address1"
              placeholder="address1"
              class="w-full input input-bordered"
            />
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="address2"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Adresse 2
            </label>
            <input
              type="text"
              name="address2"
              id="address2"
              placeholder="Address 2"
              class="w-full input input-bordered"
            />
          </div>
        </div>
      </div>
      <div class="mb-2 -mx-3 md:flex">
        <div class="px-3 mb-6 md:w-1/2 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-city"
          >
            City
          </label>
          <input
            class="input input-bordered"
            id="grid-city"
            type="text"
            formControlName="city"
            placeholder="Goma"
            [ngClass]="{
              invalid:
                registerForm.get('city')?.touched &&
                registerForm.get('city')?.invalid
            }"
          />
          <div
            *ngIf="
              registerForm.get('city')?.errors &&
              registerForm.get('city')?.invalid &&
              registerForm.get('city')?.touched
            "
            class="text-invalid"
          >
            <p *ngIf="registerForm.get('city')?.errors?.['required']">
              <span class="font-medium">Oops!</span> City is required
            </p>
          </div>
        </div>
        <div class="px-3 md:w-1/2">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-state"
          >
            Province
          </label>
          <div class="flex items-center">
            <select
              class="w-full select select-bordered"
              id="grid-state"
              formControlName="province"
              [ngClass]="{
                invalid:
                  registerForm.get('province')?.touched &&
                  registerForm.get('province')?.invalid
              }"
            >
              <option value="" selected="true">Select your province</option>
              <option value="nord-kivu">Nord-kivu</option>
              <option value="sud-kivu">Sud-kivu</option>
              <option value="maniema">Maniema</option>
            </select>
          </div>

          <div
            *ngIf="
              registerForm.get('province')?.errors &&
              registerForm.get('province')?.invalid &&
              registerForm.get('province')?.touched
            "
            class="text-invalid"
          >
            <p *ngIf="registerForm.get('province')?.errors?.['required']">
              <span class="font-medium">Oops!</span> Province is required
            </p>
          </div>
        </div>
        <div class="px-3 md:w-1/2">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-zip"
          >
            Zip Code
          </label>
          <input
            class="w-full input input-bordered"
            id="grid-zip"
            type="text"
            formControlName="zipCode"
            placeholder="90210"
            [ngClass]="{
              invalid:
                registerForm.get('zipCode')?.touched &&
                registerForm.get('zipCode')?.invalid
            }"
          />

          <div
            *ngIf="
              registerForm.get('zipCode')?.errors &&
              registerForm.get('zipCode')?.invalid &&
              registerForm.get('zipCode')?.touched
            "
            class="text-invalid"
          >
            <p *ngIf="registerForm.get('zipCode')?.errors?.['required']">
              <span class="font-medium">Oops!</span> zipCode is required
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-3">
      <button
        type="submit"
        class="px-10 py-2 text-base text-white bg-blue-600 rounded hover:bg-blue-700 ring ring-transparent focus:ring-offset-1 focus:ring-blue-300 max-w-max disabled:opacity-70 disabled:cursor-not-allowed"
        [disabled]="registerForm.invalid"
      >
        Valider
      </button>
      <button
        type="button"
        (click)="fillFormData()"
        class="btn btn-primary ring-transparent hover:bg-blue-700 ring focus:ring-offset-1 active:ring-blue-300 active:ring-offset-1 max-w-max"
      >
        Remplir les champs par defaut
      </button>
    </div>
  </form>
  <div class="my-1">
    <p class="mb-1">Dirty: {{ registerForm.dirty }}</p>
    <p class="mb-1">
      sendCatalog: {{ registerForm.get("sendCatalog")?.value.sendCatalog }}
    </p>
    <p class="mb-1">Pristine: {{ registerForm.pristine }}</p>
    <p class="mb-1">Invalid: {{ registerForm.invalid }}</p>
    <p class="mb-1">Valid: {{ registerForm.valid }}</p>
    <p class="mb-1">Form: {{ registerForm.value | json }}</p>
  </div>
  <div class="divide-gray-300 divide"></div>
</div>
